<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
</head>
<body>

<div class="projects-list">
    
  
    <div class="project-card">
        <div class="project-content">
            <h3 class="project-title">
                <div class="project-links">
                    <a href="https://espaciocreativo.pythonanywhere.com/trabajos" target="_blank" rel="noopener">Grafico espacio creativo</a>
                    <span class="separator">—</span>
                    <a href="https://github.com/Juanma-MG21/Grafico_espacio_creativo" target="_blank" rel="noopener">Repositorio</a>
                </div>
            </h3>

            <p class="project-description">
                Pagina web realizada para promocionar los trabajos realizados por un diseñador grafico independiente
            </p>

            <ul class="tech-tags">
                <li>HTML & CSS</li>
                <li>Python</li>
                <li>JavaScript</li>
                <li>MySQL</li>
                <li>Flask</li>
                <li>Jinja2</li>
                <li>Werkzeug</li>                
            </ul>
        </div>
    </div>

<!-- =============================================================================================================================================== -->

    <div class="project-card">
        <div class="project-content">
            <h3 class="project-title">
                <div class="project-links">
                    <a href="https://carmentea.pythonanywhere.com" target="_blank" rel="noopener">Carmentea arepería artesanal</a>
                    <span class="separator">—</span>
                    <a href="https://github.com/Juanma-MG21/MenuVirtual_Carmentea" target="_blank" rel="noopener">Repositorio</a>
                </div>
            </h3>
            
            <p class="project-description">
                Menu virtual diseñado para un negocio de comida rápida.
            </p>

            <ul class="tech-tags">
                <li>HTML & CSS</li>
                <li>Python</li>
                <li>MySQL</li>
                <li>Flask</li>
                <li>Jinja2</li>
                <li>Werkzeug</li>                
            </ul>
        </div>
    </div>
<!-- =============================================================================================================================================== -->

</div>

</body>
</html>